In [15]:
import numpy as np
import pandas as pd

In [ ]:
# Element-Wise Operations

In [19]:
# Create a 3x3 matrice - Pandas DF to pretty print
matrice = np.array([[1,2,3],[4,5,6]])
df = pd.DataFrame(matrice)
df

   0  1  2
0  1  2  3
1  4  5  6

In [20]:
# Create a matrice2 and multiply it by 0.25
matrice2 = matrice * 0.25
df = pd.DataFrame(matrice2)
df

      0     1     2
0  0.25  0.50  0.75
1  1.00  1.25  1.50

In [21]:
# First way to multiply two matrices
result = matrice * matrice2
df = pd.DataFrame(result)
df

      0     1     2
0  0.25  1.00  2.25
1  4.00  6.25  9.00

In [22]:
# Second way to multiply two matrices
df = pd.DataFrame( np.multiply(matrice, matrice2) )
df

      0     1     2
0  0.25  1.00  2.25
1  4.00  6.25  9.00

In [23]:
# Matrix Product

In [24]:
a = np.array([[1,2,3,4],[5,6,7,8]])
a.shape

(2, 4)

In [25]:
b = np.array([[1,2,3],[4,5,6],[7,8,9],[10,11,12]])
b.shape

(4, 3)

In [29]:
c = np.matmul(a, b)
df = pd.DataFrame(c)
df

     0    1    2
0   70   80   90
1  158  184  210

In [28]:
# If matrices haven't a compatible shape should throw an error.
d = np.matmul(b, a)

ValueError: shapes (4,3) and (2,4) not aligned: 3 (dim 1) != 2 (dim 0)

In [30]:
# The dot function (In portuguease dot product means 'Produto Interno')

In [32]:
a = np.array([[1,2],[3,4]])
df = pd.DataFrame(a)
df

   0  1
0  1  2
1  3  4

In [34]:
dot_product= np.dot(a,a)
df = pd.DataFrame(dot_product)
df

    0   1
0   7  10
1  15  22

In [35]:
# Calling dot direct from ndarray
a.dot(a)

array([[ 7, 10],
       [15, 22]])

In [37]:
# Is recommended for 2 dimensions arrays to use matmul instead of dot function. It will give the same results.

In [40]:
result = np.matmul(a,a)
result

array([[ 7, 10],
       [15, 22]])