In [2]:
import numpy as np
import pandas as pd

In [10]:
# Create a method to better visualize data 
def print_as_df(np_arr):
    df = pd.DataFrame(np_arr)
    return df

In [ ]:
# To transpose an matrice on NumPy just need to access its T attribute.

In [9]:
# Declaring the matrice. Pandas DF is just here to better visualization
matrice = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
print_as_df(matrice)

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [11]:
# Accessing T attribute
print_as_df(matrice.T)

   0  1   2
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12